:host{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}
.login{
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 0.3em;
    padding: 1em;
    width: 240px;
    box-shadow: 0 0 1em 1em rgb(74, 74, 74);
}
label:not(:last-of-type){
    display: block;
}
div{
margin: 0.5em 0;
}
input{
    width: 100%;
    padding: 0.3em;
    box-sizing: border-box;
}
button{
    background-color: rgba(67, 66, 66, 0.544);
    color: white;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0.3em;
    padding: 0.3em;
}
.message{
    background-color: rgb(108, 16, 16);
    padding: 0.4em;
    border-radius: 0.4em;
    text-align: center;
    font-size: small;
}