div {
    border-radius: 50px;
    color: white;
    background-color: rgba(2, 2, 2, 0.687);
    margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px 50px;
    gap: 0.5em;
    transform: scale(1);
    transition: transform 0.6s ease,
        background-color 0.5s ease;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.6s ease,
        background-color 0.5s ease;
}

div:hover {
    box-shadow: 5px 5px 5px 5px;
    background-color: rgba(0, 8, 255, 0.302);
    color: black;
    box-shadow: 0 10px 20px rgba(red, green, blue, 0.2);
}