nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.701);
    padding: 1em;
    margin: 1em;
    border-radius: 2em;
    gap: 0.5em;
    transform: scale(1);
    transition: transform 0.6s ease,
        background-color 0.5s ease;

}

nav a {
    text-align: center;
    text-decoration: none;
    background-color: rgba(137, 137, 137, 0.406);
    color: white;
    margin-left: 2px;
    padding-left: 0.5em;
    padding: 8px 2px;
    border-radius: 5px;
    transition: transform 0.5s ease,
        background-color 0.50s ease;
    transform: scale(1.10);
}

nav:hover {
    background-color: rgba(0, 0, 0, 0.816);
}

nav a:hover {
    box-shadow: 0 10px 20px rgba(red, green, blue, 0.2);
    background-color: rgba(255, 255, 255, 0.721);
    color: black;
    cursor: pointer;
    box-shadow: 0.2em 0.10em 0.2em 0.2em;
}